html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right bottom, #eedfbc, #f4cca5, #fcb798, #ffa097, #ff8aa1, #f278a2, #e167a5, #cd59aa, #b14699, #963488, #7b2278, #610f67);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flexbox;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }
}

header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    border: #fafa6e outset 4px;
}

main {
    flex: 1;
    padding: 20px;
    border: #0086a8 outset 4px;
}

nav {
    padding: 20px;
    border: #6ae17f outset 4px;
}

aside {
    padding: 20px;
    border: #0056a7 outset 4px;
}

footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    border: #4a1a65 outset 4px;
}

.footer-text {
    display: flex;
    padding: 2rem auto;
    text-align: center;
    justify-content: justified;
}

.col-1{
    display: block;
    padding: 0 6rem;
    margin-top: 0;
    text-align: center;
    float: left;
}

.col-2{
    display: inline-block;
    padding: 0 4rem;
    margin-top: 0;
    text-align: left;
    align-items: center;
}

.col-3 {
    display: block;
    padding: 0 4rem;
    text-align: center;
    float: right;
}

a{
    color: #000000;
    text-decoration: none;
}

/*FORM STUFF*/

.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 1rem;
    background-color: #000000;
    color: #ffffff;
    transition: 0.2s;
}

#who{
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #c2c2c2;
}