html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right bottom, #eedfbc, #f4cca5, #fcb798, #ffa097, #ff8aa1, #f278a2, #e167a5, #cd59aa, #b14699, #963488, #7b2278, #610f67);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flexbox;
}

.angry-grid {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    row-gap: 1rem;
    height: 100vh;

}

#item-0 {

    background-color: transparent;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #fafa6e outset 5px;
    border-radius: 2rem;
    height: 100%;
    padding: auto;
}

#item-1 {

    background-color: transparent;
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #6ae17f outset 5px;
    border-radius: 2rem;
    height: 100%;
    padding: auto;
}

#item-2 {

    background-color: transparent;
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 5;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #00b6a7 outset 5px;
    border-radius: 2rem;
    height: 100%;
    padding: auto;
}

#item-3 {

    background-color: transparent;
    grid-row-start: 2;
    grid-column-start: 5;

    grid-row-end: 4;
    grid-column-end: 6;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: #0086a8 outset 5px;
    border-radius: 2rem;
    height: 100%;
    padding: auto;
}

#item-4 {

    background-color: transparent;
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 6;
    border: #4a1a65 outset 5px;
    border-radius: 2rem;
    height: 100%;
    padding: auto 2rem;
}

.footer-text {
    display: flex;
    padding: 2rem auto;
    text-align: center;
    justify-content: justified;
}

.col-1{
    display: inline-block;
    padding: 2rem 2rem;
    text-align: center;
    align-items: center;
}

.col-2{
    display: inline-block;
    padding: 2rem 2rem;
    text-align: left;
    align-items: center;
}

.col-3 {
    display: inline-block;
    padding: 2rem 3rem;
    text-align: left;
    align-items: center;
}

a{
    color: #000000;
    text-decoration: none;
}